.title {
    text-align: center;
    background-color: cornflowerblue;
}

.title h1 {
    margin: 0;
    padding: 20px 0 20px;
    text-align: center;
}

.about {
    background-color:navy ;
    margin-top: 30px;
}

.about p{
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
    color: white;
}